.body__container {
  position: relative;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .body__container {
    max-width: 100%;
    padding: 0 15px;
  }
}