.card {
  background-color: #fff;
  border: 1px solid #e5e8eb;
  border-radius: 55px;
  padding: 0;
  width: calc(36% - 58px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 300px;
  padding-left: 37px;
}

.card-content {
  padding: 20px;
}

.card-title {
  text-align: center;
}

.card-text {
  padding-left: 48px;
  color: #707070;
}
.card1 {
  width: 374px;
}

.card2 {
  width: 374px;
}

.card3 {
  width: 374px;
}