.footer {
    display: flex;
    flex-direction: column;
    padding-left: 130px;
    margin-top: 15px;
    padding-right: 145px;
    padding-bottom: 20px;
}

.footer__holder {
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    font-weight: 700;
    font-size: 24px;
    color: black;
}
.footer__copy{
    font-weight: 700;
    font-size: 16px;
}
.footer__copyright{
    margin-right: -20px;
    font-weight: 700;
    font-size: 16px;
}