.promo__content{
    text-align: center;
    padding-block: 50px;
}

.promo__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 64px;
    font-weight: 700;
    line-height: 83px;
    color: #080305;
}
.promo__button {
    padding: 14px 37.5px;
    background-color: #3d1edd;
    cursor: pointer;
    border: 1px solid #3d1edd;
    color: #fff;
}
.promo__content__text{
    cursor: pointer;
    text-decoration: none;
    color: #3D1EDD;

}
.promo__description{
    color: #707070;
    font-size: 20px;
}
.promo__button__text{
    color: #707070;
}
.content {
  text-align: center;
  
  
}

.background__slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 768px) {
  .promo__title {
    font-size: 48px;
    line-height: 56px;
  }

  .promo__button {
    padding: 10px 20px;
  }

  .promo__content__text {
    font-size: 16px;
  }

  .promo__description {
    font-size: 18px;
  }

  .promo__button__text {
    font-size: 14px;
  }
}